<h3>Comments</h3>
<% post.sorted_comments.each do |comment| %>
  <% if comment.is_top_level_comment? %>
  <p>
    <%= comment.content %><br />
    Author: <%=comment.author.email%>
    <br />
    Vote: <%= comment.vote_count %>
    <%= button_to "Upvote",
        upvote_hub_post_comment_url(params[:hub_id], post.id, comment.id),
        method: :post %>
    <%= button_to "Downvote",
        downvote_hub_post_comment_url(params[:hub_id], post.id, comment.id),
        method: :post %>
    <ul>
      <% @comments_by_parent_id[comment.id].each do |child_comment| %>
        <li>
          <%= child_comment.content %><br />
          by <%= child_comment.author.email %>
        </li>
      <% end %>
    </ul>
    <%= render "comments/form", post: post, parent_comment: comment %>
  </p>
  <% end %>
<% end %>
